In [64]:
import pandas as pd

In [65]:
df = pd.read_csv("nba.csv")
df.head(20)

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Player-additional
0,1.0,Luka Dončić,26.0,LAL,PG,36.0,36.0,36.4,10.4,22.4,...,6.9,7.8,8.7,1.6,0.5,4.3,2.7,33.4,NaN,doncilu01
1,2.0,Shai Gilgeous-Alexander,27.0,OKC,PG,44.0,44.0,33.4,11.1,19.9,...,3.9,4.4,6.2,1.3,0.8,2.0,2.0,32.3,NaN,gilgesh01
2,3.0,Tyrese Maxey,25.0,PHI,PG,42.0,42.0,39.5,10.5,22.3,...,4.0,4.3,6.8,2.1,1.0,2.5,2.1,29.9,NaN,maxeyty01
3,4.0,Jaylen Brown,29.0,BOS,SF,42.0,42.0,34.5,10.9,22.6,...,5.5,6.8,4.9,1.0,0.4,3.7,2.9,29.8,NaN,brownja02
4,5.0,Anthony Edwards,24.0,MIN,SG,36.0,36.0,35.2,10.2,20.7,...,4.4,5.1,3.7,1.3,0.8,2.6,2.0,29.6,NaN,edwaran01
5,6.0,Nikola Jokić,30.0,DEN,C,32.0,32.0,34.6,10.6,17.5,...,9.1,12.2,11.0,1.4,0.8,3.5,2.8,29.6,NaN,jokicni01
6,7.0,Donovan Mitchell,29.0,CLE,SG,43.0,43.0,34.2,10.1,21.0,...,3.9,4.8,5.8,1.5,0.2,3.1,2.5,29.1,NaN,mitchdo01
7,8.0,Kawhi Leonard,34.0,LAC,SF,31.0,31.0,33.5,9.7,19.5,...,5.3,6.2,3.5,2.2,0.6,2.1,1.4,28.1,NaN,leonaka01
8,9.0,Giannis Antetokounmpo,31.0,MIL,PF,30.0,30.0,29.2,10.5,16.2,...,7.2,10.0,5.6,0.9,0.7,3.3,2.6,28.0,NaN,antetgi01
9,10.0,Jalen Brunson,29.0,NYK,PG,40.0,39.0,34.5,10.0,21.0,...,2.7,3.2,6.1,0.7,0.1,2.3,2.5,28.0,NaN,brunsja01
10,11.0,Lauri Markkanen,28.0,UTA,PF,33.0,33.0,36.0,9.5,19.7,...,5.2,7.2,2.2,1.0,0.5,1.6,2.0,27.9,NaN,markkla01
11,12.0,Stephen Curry,37.0,GSW,PG,36.0,36.0,31.7,9.1,19.3,...,3.3,3.7,4.9,1.1,0.4,2.8,2.0,27.4,NaN,curryst01
12,13.0,Austin Reaves,27.0,LAL,SG,23.0,22.0,35.3,8.2,16.2,...,4.5,5.2,6.3,1.0,0.2,3.3,2.3,26.6,NaN,reaveau01
13,14.0,Kevin Durant,37.0,HOU,SF,41.0,41.0,36.9,9.2,17.9,...,5.0,5.5,4.6,0.7,1.0,3.1,2.1,26.3,NaN,duranke01
14,15.0,Deni Avdija,25.0,POR,SF,42.0,42.0,34.9,7.9,16.8,...,6.0,7.1,6.9,0.8,0.6,3.9,2.7,26.0,NaN,avdijde01
15,16.0,Jamal Murray,28.0,DEN,PG,41.0,41.0,35.4,9.3,18.9,...,3.9,4.3,7.3,1.0,0.3,2.4,1.6,26.0,NaN,murraja01
16,17.0,James Harden,36.0,LAC,PG,41.0,41.0,35.7,7.5,17.9,...,4.2,4.8,8.1,1.3,0.3,3.7,1.9,25.8,NaN,hardeja01
17,18.0,Devin Booker,29.0,PHO,SG,41.0,41.0,34.0,8.4,18.4,...,3.2,4.0,6.2,0.9,0.3,3.3,2.6,25.4,NaN,bookede01
18,19.0,Michael Porter Jr.,27.0,BRK,SF,35.0,34.0,33.2,9.0,18.7,...,6.1,7.4,3.2,1.0,0.2,2.5,2.1,25.4,NaN,portemi01
19,20.0,Cade Cunningham,24.0,DET,PG,37.0,37.0,35.5,8.8,19.4,...,4.8,5.8,9.7,1.5,0.8,3.9,3.3,25.3,NaN,cunnica01

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 529 non-null    float64
 1   Player             530 non-null    object
 2   Age                529 non-null    float64
 3   Team               529 non-null    object
 4   Pos                529 non-null    object
 5   G                  529 non-null    float64
 6   GS                 529 non-null    float64
 7   MP                 529 non-null    float64
 8   FG                 529 non-null    float64
 9   FGA                529 non-null    float64
 10  FG%                527 non-null    float64
 11  3P                 529 non-null    float64
 12  3PA                529 non-null    float64
 13  3P%                493 non-null    float64
 14  2P                 529 non-null    float64
 15  2PA                529 non-null    float64
 16  2P%                519 non-null    float64
 17  eFG%               527 non-null    float64
 18  FT                 529 non-null    float64
 19  FTA                529 non-null    float64
 20  FT%                490 non-null    float64
 21  ORB                529 non-null    float64
 22  DRB                529 non-null    float64
 23  TRB                529 non-null    float64
 24  AST                529 non-null    float64
 25  STL                529 non-null    float64
 26  BLK                529 non-null    float64
 27  TOV                529 non-null    float64
 28  PF                 529 non-null    float64
 29  PTS                529 non-null    float64
 30  Awards             0 non-null      float64
 31  Player-additional  530 non-null    object
dtypes: float64(28), object(4)
memory usage: 132.6+ KB

Loaded the csv into a dataframe. I wanted to do df.head(20) to really get a feel of the data. I did df.info() next to get some column information on data types and see if there are any null values. I see that awards is complety empty. There are some missing valuess for 3P%, 2P%, and FT% which are all columns that are dealing with shooting.

In [67]:
df.columns.tolist()

['Rk',
 'Player',
 'Age',
 'Team',
 'Pos',
 'G',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'eFG%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'Awards',
 'Player-additional']

When I tried to drop columns I thought were unnecessary (`Rk`, `Awards`, and `Player-additional`), I got an error. To figure out why, I printed out all the columns using `df.columns.tolist()` to see what pandas actually loaded.  

It turns out the columns I wanted to drop aren’t in the DataFrame, so there’s no need to drop anything. The dataset already has the main player stats ready for analysis.

In [68]:
df.columns = (
    df.columns
    .str.lower()
    .str.replace('%', '_percent')
    .str.replace('3p', 'three_p')
    .str.replace('2p', 'two_p')
    .str.replace('-', '_')
)

df.columns

Index(['rk', 'player', 'age', 'team', 'pos', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg_percent', 'three_p', 'three_pa', 'three_p_percent', 'two_p',
       'two_pa', 'two_p_percent', 'efg_percent', 'ft', 'fta', 'ft_percent',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'awards',
       'player_additional'],
      dtype='object')

I wanted to make the columns names more consistent and more cleaner looking. I wanted to chagne where ever the column has a '%' to be change to percent. Also '3p' and '2p' to be words instead of the number to keep things consistent. It also lowered the words andd strip out any white spaces to also keep things consistent.

In [69]:
percent_cols = [col for col in df.columns if col.endswith('percent')]
df[percent_cols] = df[percent_cols].fillna(0)

df[percent_cols].isna().sum()

fg_percent         0
three_p_percent    0
two_p_percent      0
efg_percent        0
ft_percent         0
dtype: int64

I wanted to take care of the missing values. When looking at the data, the columns that contain percentages (`fg_percent`, `three_point_percent`, etc.) had some missing values.  

Usually, in NBA stats, this happens when a player didn’t take enough shots, so the percentage is not recorded.  

To handle this, I filled any missing or `NaN` values in the percentage columns with 0. This keeps the data clean and ready for analysis.

In [70]:
df.describe()

,rk,age,g,gs,mp,fg,fga,fg_percent,three_p,three_pa,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,awards
count,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,530.000000,529.000000,529.000000,...,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,0.0
mean,259.313800,25.994329,28.045369,12.871456,19.238941,3.252174,7.001134,0.450166,1.021928,2.910397,...,0.941399,2.582042,3.522495,2.078450,0.674858,0.396786,1.106049,1.676371,8.989414,NaN
std,148.255793,4.290357,13.730283,15.368532,9.527224,2.428836,4.946054,0.123046,0.892801,2.294820,...,0.836845,1.789838,2.441591,1.870107,0.432697,0.410987,0.854379,0.810367,6.889466,NaN
min,1.000000,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,131.000000,23.000000,18.000000,0.000000,11.400000,1.300000,3.000000,0.400000,0.300000,1.100000,...,0.400000,1.200000,1.800000,0.800000,0.400000,0.100000,0.500000,1.100000,3.500000,NaN
50%,261.000000,25.000000,31.000000,4.000000,19.000000,2.600000,5.600000,0.451000,0.800000,2.500000,...,0.700000,2.200000,3.000000,1.500000,0.600000,0.300000,0.900000,1.700000,7.100000,NaN
75%,386.000000,28.000000,40.000000,25.000000,27.500000,4.700000,10.000000,0.504000,1.600000,4.500000,...,1.300000,3.600000,4.900000,2.900000,0.900000,0.500000,1.600000,2.200000,13.100000,NaN
max,513.000000,41.000000,47.000000,46.000000,39.500000,11.100000,22.600000,1.000000,4.600000,11.600000,...,4.900000,9.100000,12.200000,11.000000,2.500000,2.600000,4.300000,4.400000,33.400000,NaN

In [71]:
df['team'].value_counts()

team
IND    24
LAC    20
LAL    19
MEM    19
CHO    19
ATL    19
DET    19
WAS    18
GSW    18
CHI    18
SAC    18
SAS    18
TOR    18
NOP    17
NYK    17
PHI    17
PHO    17
DAL    17
MIL    17
CLE    16
ORL    16
MIA    16
DEN    16
OKC    16
BRK    16
POR    16
UTA    16
MIN    15
BOS    15
HOU    15
2TM     5
3TM     2
Name: count, dtype: int64

I used `df.describe()` to get a quick overview of the numeric columns. This helps me see the minimum, maximum, mean, and standard deviation for each statistic.  

Looking at these values gives insight into:

The range of each stat (min and max)  
Average performance (mean)  
-How spread out the stats are (std)  

This is useful to spot outliers and get a sense of how different players compare across categories.
                                                                                                                                        
I also wanted to see how many players were from each teams to rough idea how spread out the players were.

In [72]:
df['points_per_game'] = df['pts']/df['g']
df['points_per_minute'] = df['pts']/df['mp']

In [73]:
high = df[df['g'] >= 30]

In [74]:
high.sort_values(
    ['points_per_game', 'efg_percent'],
    ascending = False
)[['player', 'team', 'points_per_game', 'efg_percent']].head(10)

                     player team  points_per_game  efg_percent
8     Giannis Antetokounmpo  MIL         0.933333        0.660
0               Luka Dončić  LAL         0.927778        0.543
5              Nikola Jokić  DEN         0.925000        0.665
7             Kawhi Leonard  LAC         0.906452        0.571
10          Lauri Markkanen  UTA         0.845455        0.557
4           Anthony Edwards  MIN         0.822222        0.579
21        Victor Wembanyama  SAS         0.790323        0.566
11            Stephen Curry  GSW         0.761111        0.588
1   Shai Gilgeous-Alexander  OKC         0.734091        0.605
18       Michael Porter Jr.  BRK         0.725714        0.582

I wanted to identify players who score a lot while being efficient. Simply looking at total points doesn’t tell the whole story — some players play fewer minutes or fewer games.  

Calculate points per game and points per minute** to standardize scoring:
`points_per_game` = total points ÷ games played  
`points_per_min` = total points ÷ minutes played  

2. Filter for serious contributors by keeping only players who played at least 30 games. This removes players with very few games that could skew results.  

3. Sort by scoring and efficiency using:
`points_per_game` to get high-volume scorers  
`efg_percent` (effective field goal percentage) to ensure they are also efficient  

4. Show the top 10 players, giving a clear view of the most efficient high-volume scorers this season.

In [75]:
df.to_csv('nba_cleaned.csv', index=False)

I saved the cleaned data to a csv.

In [82]:

import pandas as pd
import psycopg2

In [83]:
from sqlalchemy import create_engine, text

engine = create_engine("postgresql+psycopg2://christinachum@localhost:5432/nba_stats")

df.to_sql(
    "player_stats",   # table name
    engine,
    if_exists="replace",  # overwrite if exists
    index=False
)

530

530

In [85]:
pd.read_sql(
    "SELECT player, team, points_per_game FROM player_stats LIMIT 10",
    engine
)

                    player team  points_per_game
0              Luka Dončić  LAL         0.927778
1  Shai Gilgeous-Alexander  OKC         0.734091
2             Tyrese Maxey  PHI         0.711905
3             Jaylen Brown  BOS         0.709524
4          Anthony Edwards  MIN         0.822222
5             Nikola Jokić  DEN         0.925000
6         Donovan Mitchell  CLE         0.676744
7            Kawhi Leonard  LAC         0.906452
8    Giannis Antetokounmpo  MIL         0.933333
9            Jalen Brunson  NYK         0.700000

After cleaning and analyzing the data, I saved the final DataFrame to a PostgreSQL database.  
This allows the data to be queried using SQL and reused by backend services such as FastAPI.