In [1]:
import pandas as pd

df = pd.read_csv("nba.csv")
df.head(20)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 529 non-null    float64
 1   Player             530 non-null    object
 2   Age                529 non-null    float64
 3   Team               529 non-null    object
 4   Pos                529 non-null    object
 5   G                  529 non-null    float64
 6   GS                 529 non-null    float64
 7   MP                 529 non-null    float64
 8   FG                 529 non-null    float64
 9   FGA                529 non-null    float64
 10  FG%                527 non-null    float64
 11  3P                 529 non-null    float64
 12  3PA                529 non-null    float64
 13  3P%                493 non-null    float64
 14  2P                 529 non-null    float64
 15  2PA                529 non-null    float64
 16  2P%                519 non-null    float64
 17  eFG%               527 non-null    float64
 18  FT                 529 non-null    float64
 19  FTA                529 non-null    float64
 20  FT%                490 non-null    float64
 21  ORB                529 non-null    float64
 22  DRB                529 non-null    float64
 23  TRB                529 non-null    float64
 24  AST                529 non-null    float64
 25  STL                529 non-null    float64
 26  BLK                529 non-null    float64
 27  TOV                529 non-null    float64
 28  PF                 529 non-null    float64
 29  PTS                529 non-null    float64
 30  Awards             0 non-null      float64
 31  Player-additional  530 non-null    object
dtypes: float64(28), object(4)
memory usage: 132.6+ KB

Loaded the csv into a dataframe. I wanted to do df.head(20) to really get a feel of the data. I did df.info() next to get some column information on data types and see if there are any null values. I see that awards is complety empty. There are some missing valuess for 3P%, 2P%, and FT% which are all columns that are dealing with shooting.