In [1]:
import pandas as pd

df = pd.read_csv("nba.csv")
df.head(20)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rk                 529 non-null    float64
 1   Player             530 non-null    object
 2   Age                529 non-null    float64
 3   Team               529 non-null    object
 4   Pos                529 non-null    object
 5   G                  529 non-null    float64
 6   GS                 529 non-null    float64
 7   MP                 529 non-null    float64
 8   FG                 529 non-null    float64
 9   FGA                529 non-null    float64
 10  FG%                527 non-null    float64
 11  3P                 529 non-null    float64
 12  3PA                529 non-null    float64
 13  3P%                493 non-null    float64
 14  2P                 529 non-null    float64
 15  2PA                529 non-null    float64
 16  2P%                519 non-null    float64
 17  eFG%               527 non-null    float64
 18  FT                 529 non-null    float64
 19  FTA                529 non-null    float64
 20  FT%                490 non-null    float64
 21  ORB                529 non-null    float64
 22  DRB                529 non-null    float64
 23  TRB                529 non-null    float64
 24  AST                529 non-null    float64
 25  STL                529 non-null    float64
 26  BLK                529 non-null    float64
 27  TOV                529 non-null    float64
 28  PF                 529 non-null    float64
 29  PTS                529 non-null    float64
 30  Awards             0 non-null      float64
 31  Player-additional  530 non-null    object
dtypes: float64(28), object(4)
memory usage: 132.6+ KB

Loaded the csv into a dataframe. I wanted to do df.head(20) to really get a feel of the data. I did df.info() next to get some column information on data types and see if there are any null values. I see that awards is complety empty. There are some missing valuess for 3P%, 2P%, and FT% which are all columns that are dealing with shooting.

In [11]:
df.columns.tolist()

['Player',
 'Age',
 'Team',
 'Pos',
 'G',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'eFG%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

When I tried to drop columns I thought were unnecessary (`Rk`, `Awards`, and `Player-additional`), I got an error. To figure out why, I printed out all the columns using `df.columns.tolist()` to see what pandas actually loaded.  

It turns out the columns I wanted to drop aren’t in the DataFrame, so there’s no need to drop anything. The dataset already has the main player stats ready for analysis.

In [22]:
df.columns = (
    df.columns
    .str.lower()
    .str.replace('%', '_percent')
    .str.replace('3p', 'three_p')
    .str.replace('2p', 'two_p')
    .str.replace('-', '_')
)

df.columns

Index(['player', 'age', 'team', 'pos', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg_percent', 'three_points', 'three_pointsa', 'three_points_percent',
       'two_points', 'two_pointsa', 'two_points_percent', 'efg_percent', 'ft',
       'fta', 'ft_percent', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov',
       'pf', 'pts'],
      dtype='object')

I wanted to make the columns names more consistent and more cleaner looking. I wanted to chagne where ever the column has a '%' to be change to percent. Also '3p' and '2p' to be words instead of the number to keep things consistent. It also lowered the words andd strip out any white spaces to also keep things consistent.

In [29]:
percent_cols = [col for col in df.columns if col.endswith('percent')]
df[percent_cols] = df[percent_cols].fillna(0)

df[percent_cols].isna().sum()

fg_percent              0
three_points_percent    0
two_points_percent      0
efg_percent             0
ft_percent              0
dtype: int64

I wanted to take care of the missing values. When looking at the data, the columns that contain percentages (`fg_percent`, `three_point_percent`, etc.) had some missing values.  

Usually, in NBA stats, this happens when a player didn’t take enough shots, so the percentage is not recorded.  

To handle this, I filled any missing or `NaN` values in the percentage columns with 0. This keeps the data clean and ready for analysis.

In [33]:
df.describe()

,age,g,gs,mp,fg,fga,fg_percent,three_points,three_pointsa,three_points_percent,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
count,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,530.000000,529.000000,529.000000,530.000000,...,530.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000
mean,25.994329,28.045369,12.871456,19.238941,3.252174,7.001134,0.450166,1.021928,2.910397,0.304262,...,0.697030,0.941399,2.582042,3.522495,2.078450,0.674858,0.396786,1.106049,1.676371,8.989414
std,4.290357,13.730283,15.368532,9.527224,2.428836,4.946054,0.123046,0.892801,2.294820,0.159902,...,0.247726,0.836845,1.789838,2.441591,1.870107,0.432697,0.410987,0.854379,0.810367,6.889466
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,18.000000,0.000000,11.400000,1.300000,3.000000,0.400000,0.300000,1.100000,0.250000,...,0.655750,0.400000,1.200000,1.800000,0.800000,0.400000,0.100000,0.500000,1.100000,3.500000
50%,25.000000,31.000000,4.000000,19.000000,2.600000,5.600000,0.451000,0.800000,2.500000,0.336000,...,0.767000,0.700000,2.200000,3.000000,1.500000,0.600000,0.300000,0.900000,1.700000,7.100000
75%,28.000000,40.000000,25.000000,27.500000,4.700000,10.000000,0.504000,1.600000,4.500000,0.386750,...,0.838000,1.300000,3.600000,4.900000,2.900000,0.900000,0.500000,1.600000,2.200000,13.100000
max,41.000000,47.000000,46.000000,39.500000,11.100000,22.600000,1.000000,4.600000,11.600000,1.000000,...,1.000000,4.900000,9.100000,12.200000,11.000000,2.500000,2.600000,4.300000,4.400000,33.400000

In [34]:
df['team'].value_counts()

team
IND    24
LAC    20
LAL    19
MEM    19
CHO    19
ATL    19
DET    19
WAS    18
GSW    18
CHI    18
SAC    18
SAS    18
TOR    18
NOP    17
NYK    17
PHI    17
PHO    17
DAL    17
MIL    17
CLE    16
ORL    16
MIA    16
DEN    16
OKC    16
BRK    16
POR    16
UTA    16
MIN    15
BOS    15
HOU    15
2TM     5
3TM     2
Name: count, dtype: int64

In [ ]:
I used `df.describe()` to get a quick overview of the numeric columns. This helps me see the minimum, maximum, mean, and standard deviation for each statistic.  

Looking at these values gives insight into:

The range of each stat (min and max)  
Average performance (mean)  
-How spread out the stats are (std)  

This is useful to spot outliers and get a sense of how different players compare across categories.
                                                                                                                                        
I also wanted to see how many players were from each teams to rough idea how spread out the players were.

In [35]:
df['points_per_game'] = df['pts']/df['g']
df['points_per_minute'] = df['pts']/df['mp']

In [36]:
high = df[df['g'] >= 30]

In [38]:
high.sort_values(
    ['points_per_game', 'efg_percent'],
    ascending = False
)[['player', 'team', 'points_per_game', 'efg_percent']].head(10)

                     player team  points_per_game  efg_percent
8     Giannis Antetokounmpo  MIL         0.933333        0.660
0               Luka Dončić  LAL         0.927778        0.543
5              Nikola Jokić  DEN         0.925000        0.665
7             Kawhi Leonard  LAC         0.906452        0.571
10          Lauri Markkanen  UTA         0.845455        0.557
4           Anthony Edwards  MIN         0.822222        0.579
21        Victor Wembanyama  SAS         0.790323        0.566
11            Stephen Curry  GSW         0.761111        0.588
1   Shai Gilgeous-Alexander  OKC         0.734091        0.605
18       Michael Porter Jr.  BRK         0.725714        0.582

I wanted to identify players who score a lot while being efficient. Simply looking at total points doesn’t tell the whole story — some players play fewer minutes or fewer games.  

Calculate points per game and points per minute** to standardize scoring:
`points_per_game` = total points ÷ games played  
`points_per_min` = total points ÷ minutes played  

2. Filter for serious contributors by keeping only players who played at least 30 games. This removes players with very few games that could skew results.  

3. Sort by scoring and efficiency using:
`points_per_game` to get high-volume scorers  
`efg_percent` (effective field goal percentage) to ensure they are also efficient  

4. Show the top 10 players, giving a clear view of the most efficient high-volume scorers this season.

In [ ]:
df.to_csv('nba_cleaned.csv')